.main-box{
   background-color:whitesmoke;
   width: 100%;
   height: auto;
   display: flex;
   gap: -10px;
}
.box1{
    width:600px ;
    height: 400px;
    border: 2px solid;
    background-color: aquamarine;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px 0px 0px 15px;
}
.box1 h1{
    margin-left: 20px;
    font-size: 40px;
    color: black;
}
.box1 p{
    margin-left: 20px;
    margin-top: 30px;
}
.box1 button{
    width: 90px;
    height: 30px;
    border: 2px solid grey;
    background-color: grey;
    margin-top: 50px;
    margin-left: 20px;

}
.box2{
     width:600px ;
    height: 400px;
    border: 2px solid;
    background-color: aquamarine;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 0px 15px 15px 0px;
}
.box2 img{
    width: 300px;
    height: 300px;
}