.navbar-wapper{
   background-color: skyblue;
   box-sizing: border-box;
   position: sticky;
   z-index: 1000;
   top: 0;
}
.navbar{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}
.linkk{
    gap: 30px;
    margin-right: 20px;
    display: flex;
    font-size:larger;
}
.linkk a{
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
.linkk a::after{
    background-color: rgb(13, 13, 14);
    content: " ";
    width: 0px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s;
    bottom: 1px;
}
.linkk a:hover::after{
    width: 100%;
}
.link a:hover{
    color: black;
}
